<form action="patch '/posts/:id'" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" ...>
    Name<input type="text" value="<%=@post.name%>" name="name">
  Contents<input type="text" value="<%=@post.content%>" name="content">
</form>
